.breadth__section {
  color: white;
  background: #700bc1;
  padding: 3rem;
  margin: 2rem 0;
}
.breadth_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.breadth_container img {
  max-width: 340px;
}
.breadth_text_wrapper {
  padding-right: 5rem;
  text-align: left;
}
.breadth_text_wrapper h3 {
  text-align: left;
  font-size: 25px;
}
.breadth_inner_text {
  display: flex;
}
.breadth_inner_text div {
  padding: 1rem;
}
.breadth_inner_text div:nth-child(1) {
  padding-left: 0;
}
@media screen and (max-width: 961px) {
  .breadth_text_wrapper {
    padding-right: 0;
  }
}
