.prf-container {
  display: flex;
  border: 0.5px solid #e7e8f1;
  box-shadow: 0 0 6px 0 rgb(78 42 222 / 2%), 0 6px 18px 0 rgb(78 42 222 / 2%);
  width: 100%;
  border-radius: 10px;
  background: white;
  height: 50px;
  margin-top: 10px;
}

.prf-container.iscircular {
  border: none;
  height: auto;
  background: transparent;
  width: 150px;
  align-items: center;
}
.pic-wrapper {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 2px;
  background: linear-gradient(
    45deg,
    var(--dark-purple) 30%,
    var(--light-purple) 30%
  );
  color: white;
  height: auto;
  width: 30%;
  text-transform: uppercase;
  align-items: center;
}
.pic-wrapper.iscircular {
  border-radius: 50%;
  padding: 0;
  height: 30px;
  width: 30px;
  align-items: center;
}
.pic-text {
  display: flex;
  flex-direction: column;
  line-height: 0;
  padding-left: 12px;
  /* padding: 3r; */
  font-size: 14px;
  justify-content: start;
  align-items: center;
}
.pic-text span {
  line-height: 15px;
  color: gray;
  font-size: 12px;
}
.prf-pic-icon {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
@media screen and (max-width: 960px) {
  .prf-container {
    width: 80%;
  }
}
