.companies_section {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.9rem;
}
.companies_container {
  background: white;
  box-shadow: var(--box-shadow);
  height: 150px;
  width: 220px;
  border-radius: 2px;
  transition: all 0.5s ease;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 10px;
  line-height: 2px;
  display: flex;
  align-items: center;
  /* padding: 1.5rem; */
}
.companies_container span {
  color: grey;
  font-size: 13px;
}
.companies_container:hover {
  box-shadow: 0 10px 30px 20px rgba(131, 8, 255, 0.103);
  transform: scale(1.05);
}
.companies_container_name {
  width: calc(80%);
  /* background: red; */
  display: block;
  text-align: left;
  /* overflow-x: hidden; */
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}
#delete_company {
  transition: all 0.5s ease;
  /* height: 20px;
  width: 20px; */
  padding: 0.6rem;
  border-radius: 50%;
  background: var(--grey);
}

#delete_company:hover {
  color: red;
  background: rgba(255, 0, 0, 0.151);
}
@media screen and (max-width: 1200px) {
  .companies_section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .companies_section {
    grid-template-columns: repeat(2, 1fr);
  }
}
